extends ./partials/_layout

block content
  .sidemenu
    a(href="#header")
      img(src="images/world.png")
    span
      a(href="#header") INICIO
    span
      a(href="#empresa") EMPRESA
    span
      a(href="#productos") PRODUCTOS
    span
      a(href="#contacto") CONTACTO
  header#header
    img.logo(src="images/logo.png")
    .topbar
      p Salar Surire 1274, Parque Industrial ENEA, Pudahuel. Santiago, Chile.
        a(href="tel:+56229442600")= " Teléfono: (56-2) 2944-2600"
      span.in
        a(href="#")
          img(src="images/in.png")
    nav
      ul
        li
          a(href="#productos") PRODUCTOS
        li
          a(href="#empresa") EMPRESA
        li
          a(href="#contacto") CONTACTO

  main
    .hero
      .bannertext
        .dummy
      img.banner(src="images/powerline.jpg")
      img.iso(src="images/iso9001.png")
      img.isob(src="images/iso2008.png")
    .content
      aside
        img(src="images/cables1.png")
        p Somos líderes en el rubro con más de 20 años de experiencia.
      h1#empresa Bienvenidos
      p
        strong Soc. Com. Sajonia Ltda. – Todocable Ltda.
        |  es una empresa orientada a la comercialización de conductores y materiales eléctricos en general, destinada a satisfacer las necesidades de nuestros clientes, tanto en el  mercado nacional como internacional.
      p El sólido posicionamiento y éxito obtenido en el mercado , es el resultado de un constante esfuerzo comercial y la búsqueda de una gestión de excelencia en las diversas áreas de nuestra organización. Esto se refleja en la reciente obtención de la certificación ISO 9001, prueba de nuestro compromiso con la calidad en nuestros procesos.
      h2 Misión
      p Generar valor por medio de una atención profesional, ética y personalizada hacia nuestros clientes, a través de un equipo de trabajo altamente capacitado y una <strong>infraestructura moderna e innovadora</strong>.
      h2 Visión
      p Ser reconocidos en la distribución de conductores y materiales eléctricos en general, asociados a la fuerte alianza que existe actualmente entre nuestra empresa y los fabricantes a los cuales representamos, entregando cobertura de productos a la gran mayoría de las instalaciones existentes y futuras, donde la integración global será la guía de desarrollo en ésta industria, entregando confiabilidad y agregando valor respecto de una eficiente atención y distribución de los productos requeridos.
      h2 Ubicación
      .ubicacion
        .half
          p Nuestra empresa se ubica en el corazón del parque industrial ENEA, con el fin de dar una rápida respuesta a las industrias del sector y facilitar la logística en la distribución de nuestros productos.
          h3 Acceso desde:
          h4 Santiago Oriente
          p Costanera Norte, Vespucio Norte, salida ENEA
          h4 Santiago Centro
          p San Pablo o Ruta 68, Vespucio hacia el Norte, salida ENEA
          h4 Santiago Poniente
          p Americo Vespucio hacia el norte, salida ENEA
        #map_canvas
      h1#productos Productos
      ul.accordion-tabs
        li.tab-header-and-content
          a.is-active.tab-link(href='javascript:void(0)') CONDUCTORES ELÉCTRICOS
          .tab-content
            iframe.cablesframe(src="http://socomsa.cl/cables.php")
        li.tab-header-and-content
          a.tab-link(href='javascript:void(0)') MATERIALES ELÉCTRICOS
          .tab-content
            iframe.cablesframe(src="http://socomsa.cl/matel.php")
        li.tab-header-and-content
          a.tab-link(href='javascript:void(0)') TABLEROS ELÉCTRICOS
          .tab-content
            iframe.cablesframe(src="http://socomsa.cl/table.php")

      .productos
        .carousel
        img.bigcable(src="images/cables2.png")
  footer#contacto
    .footer-container
      h2.footer-header INFORMACIÓN COMERCIAL
      .informacion
        .row
          .title Razón social:
          .desc Sociedad Comercial Sajonia Limitada.
        .row
          .title Nombre de Fantasía:
          .desc  Socomsa Limitada.
        .row
          .title RUT:
          .desc  76.106.010-4
        .row
          .title Giro:
          .desc  Compra y venta de cables electricos y materiales de construcción.
        .row
          .title Teléfono/Fax:
          .desc  (56-2) 2944 2600
        .row
          .title Correo Electrónico:
          .desc
            a(href="mailto:web@socomsa.cl")  web@socomsa.cl
        .row
          .title Dirección:
          .desc  Salar Surire 1274, Pudahuel. Santiago, Chile.
      img.banner(src="images/empresa.jpg")
    .formulario
      h2.footer-header CONTACTO
      form
        .field
          span Nombre:
          input(type='text')
        .field
          span Correo electrónico:
          input(type='email')
        .field
          span Empresa (opcional):
          input(type='text')
        .field
          span Teléfono (opcional):
          input(type='phone')
        h2.footer-header MENSAJE
        textarea(rows="10")
        .button-container
          button.submit(type="submit") Enviar Mensaje
  script(src="https://maps.googleapis.com/maps/api/js")

