extends ./partials/_layout

block content
  .topbar
    p Salar Surire 1274, Parque Industrial ENEA, Pudahuel. Santiago, Chile. Teléfono: (56-2) 2944 2600
    span.in
      a(href="#")
        img(src="/images/in.png")

  header
    img.logo(src="images/logo.png")
    nav
      ul
        li
          a(href="#productos") PRODUCTOS
        li
          a(href="#empresa") EMPRESA
        li
          a(href="#contacto") CONTACTO
  main
    .hero
      .bannertext Conductores Eléctricos
      img.banner(src="/images/empresa.jpg")
      img.iso(src="/images/iso9001.png")
    .content
      aside
        img(src="/images/cables1.png")
        p Somos líderes en el rubro con más de 20 años de experiencia.
      h1 Bienvenidos
      p
        strong Sociedad Comercial Sajonia Ltda.
        |  es una empresa orientada a la comercialización de conductores y materiales eléctricos en general, destinada a satisfacer las necesidades de nuestros clientes, tanto en el  mercado nacional como internacional.
      p El sólido posicionamiento y éxito obtenido en el mercado , es el resultado de un constante esfuerzo comercial y la búsqueda de una gestión de excelencia en las diversas áreas de nuestra organización. Esto se refleja en la reciente obtención de la certificación ISO 9001, prueba de nuestro compromiso con la calidad en nuestros procesos.
      h2 Misión
      p Generar valor, por medio de una atención profesional ética y personalizada hacia nuestros clientes, a través de un equipo de trabajo altamente capacitado y una <strong>infraestructura moderna e innovadora</strong>.
      h2 Visión
      p Ser reconocidos en la distribución de conductores y materiales eléctricos en general, asociados a la fuerte alianza que existe actualmente entre nuestra empresa y los fabricantes a los cuales representamos, entregando cobertura de productos a la gran mayoría de las instalaciones existentes y futuras, donde la integración global será la guía de desarrollo en ésta industria, entregando confiabilidad y agregando valor respecto de una eficiente atención y distribución de los productos requeridos.
