.provrow
  .proveedor
     .prodlogo
       img(src="images/marca1.png" alt="General Cable")
     ul
       li Superflex
       li XTMU
       li XTCC
       li Instrumentación PLTC
       li THHN
       li Conductores de cobre desnudo
       li H05VV-F (SVT)
       li Cordones de goma SE
       li Media tensión XAT 5 A 35 KV
       li Conductores de uso minero SHD-GC-CP
       li Conductores EVA (libres de halógeno)
       li Conductores para variadores de frecuencia
       li Conductores armados
       li Conductores tipo W
       li Conductores de uso Sub-Marino
       li Conductores tipo LOC
  .proveedor
    .prodlogo
      img(src="images/marca7.png" alt="Nexans")
    ul
      li Multiflex (control y fuerza)
      li XMT (fuerza)
      li CXT (control)
      li Instrumentación
      li THHN (fuerza)
      li NYA (fuerza)
      li Conductores de cobre desnudo
      li Cordones de goma SE
      li Media tensión XT 5 A 35 KV (fuerza)
      li Conductores de uso minero SHD-GC-CP
      li Conductores FREETOX FLEX (libres de halógeno)
      li Conductores armados
      li Y-JZ (control numerado)
      li CY-JZ (control apantallado)
      li Conductores siliconados
      li Conductores para variadores de frecuencia
      li Conductores para puesta a tierra
      li H07RN-F (goma 500-750 Volts)
      li H01N2-D (para soldadoras)
      li Conductores de uso naval

.provrow
  .proveedor
    .prodlogo
      img(src="images/marca6.png" alt="Covisa")
    ul
      li XCM
      li XCCT
      li Instrumentación
      li THHN
      li Conductores de cobre desnudo
      li Cordones de goma SE
      li Conductores NOTOX (libres de halógeno)
      li Coviflex
      li Conductores con blindaje de cobre

  .proveedor
    .prodlogo
      img(src="images/marca4.png" alt="Top Cable")
    ul
      li RV-K (fuerza)
      li VV-K (control)
      li SCREENFLEX  (control con pantalla)
      li RZ1-K (libre de halógeno)
      li H05VV-F (cordones)
      li Media tensión en aluminio RHZ1 Al/OL/2OL
        ul
          li 6/10 kV
          li 8,7/15 kV
          li 12/20 kV
          li 18/30 kV
      li H05V-K y H07V-K
      li Cables para variadores VDF, ROZ1-K
      li Cables para instrumentación VHOV-K (par-pos)
      li VOV-K (pos) 300V-500V

.provrow
  .proveedor
    .prodlogo
      img(src="images/marca5.png" alt="Conduspar")
    ul
      li RV-K (fuerza)
      li NYA
      li THHW
  .proveedor
    .prodlogo
      img(src="images/marca3.png" alt="Prysmian")
    ul
      li RV-K (fuerza)
      li VV-K (control)
.provrow
  .proveedor
    .prodlogo
      img(src="images/marca8.png" alt="Condumex")
    ul
      li RV-K (fuerza)
      li RZ1-K (libre de halógeno)
      li CONDULAC (cordones SVT)
      li THHN
      li H07Z1-K (libre de halógeno)
      li MV-90 Media tensión 15 y 25 KV
      li SHD-GC-CP (uso minero) 5, 8, 15 y 25 KV
      li De comunicación 1 par, 2 pares, 18 AWG y 16 AWG

  .proveedor
    .prodlogo
      img(src="images/marca10.jpg" alt="Miguelez")
    ul
      li RV-K (Monopolares y multipolares)
      li RZ1-K (Monopolares y multipolares)
      li H07Z1-K (Monopolares libres de halógeno) en diversos colores

.provrow
  .proveedor
    .prodlogo
      img(src="images/marca2.png" alt="Madeco")
    ul
      li THHN
      li Super NYA (H05V-U)
      li Freetoxflex (RZ1-K)
      li H07Z1-K
      li Multiflex (RV-K)

  .proveedor
    .prodlogo
      img(src="images/marca9.png" alt="Belden")
    ul
      li A pedido /según stock
.provrow
  .proveedor
    .prodlogo
      img(src="images/marlew.jpg" alt="Marlew")
    ul
      li Cables de Instrumentación - Pares y tríos
