.provrow
  img.banner(src="images/conduit.jpg")
  .separator
  .proveedor
    ul
      li Conduit rígidos ANSI C.80.6 y C.80.1
      li Conduit flexible
      li Tubos y ferretería EMT
      li Conectores rectos y curvos para conduit flexible
      li Pernos partidos
      li Mordazas
      li Riel RUC P-1000
      li Abrazaderas RUC
      li Bushing y contratuercas
      li Hilo corrido galvanizado acero inoxidable
      li Tuercas romboidales con y sin resorte
  .proveedor
    ul
      li Terminales de compresión
      li Condulets de fierro y aluminio
      li Ferretería galvanizada
      li Escalerillas y bandejas porta conductores metálicas
      li Luminarias y proyectores de uso industrial y minero
      li Equipos de iluminación de emergencia
      li Moldes de termofusión
      li Ferretería eléctrica de bronce
      li Pararrayos
      li Barras tomatierra
      li Cable acero cobrizado tipo Copperweld
